<% binding.pry %>
<%= form_for(:platforms , url:  platforms_path) do |f| %>

<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>

<div class="field">
	<%= f.label :created_by%>
	<%= f.text_field :created_by %>
</div>

<div class="field">
	<%= f.label :updated_by %>
	<%= f.text_field :updated_by %>
</div>

<div class="actions">
	<%= f.submit %>
	<% binding.pry %>
</div>

<% end %>